body{
  background-image: linear-gradient(to right,#4b6cb7,#182848);
}
  /*pagina-html*/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-image: linear-gradient(to right,#b3ffab,#12fff7);
  color: #ffffff;
  padding: 15px;
}

.header h1{
  color: black;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-image: linear-gradient(to right,#b3ffab,#12fff7);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li span{
  color: black;
}
.menu li a{
    text-decoration: none;
    color: white;
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-image: linear-gradient(to right,#b3ffab,#12fff7);
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.aside h2 {
  color: black;
}

.aside p {
  color: black;
}

.footer {
  background-image: linear-gradient(to right,#b3ffab,#12fff7);
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer span {
  color: black;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-decoration: none;
}

/*div enlace formulario*/
/*div#form a{
  text-decoration: none;
}*/
.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

.footer a {
    text-decoration: none;
    color: white;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/*nombre*/
.nombre center {
	font-style: italic;
	font-size: 50px;
	color:black;
}
/*id datos*/
div#datos{
	border:solid black 0px;
	width: auto;
	height: auto;
}
div#datos h1{
	font-style: italic;
}
div#datos p{
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	font-family: Arial;
	font-size: 15px;
	color: black;
	font-style: italic;
}
/*boton descargar*/
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
/*al pasar el mouse */
.btn:hover {
  background-color: RoyalBlue;
}
/*galeria de fotos*/
div#galeria{
	border:solid black 0px;
	width: 550px;
	height: 350px;
	margin:auto;
}
div#galeria img{
	width: 650px;
	height: 350px;
  margin: auto;
}
div#galeria2 img{
	width: 550px;
	height: 250px;
	margin: auto;
	display: none;
}
div#galeria3 img{
	width: 550px;
	height: 250px;
	margin: auto;
	display: none;
}
div#galeria4 img{
	width: 550px;
	height: 250px;
	margin: auto;
	display: none;
}
.galeria {
	margin: auto;
}
.galeria img {
	transition: 2s;
	padding: auto;
	width:200px;
}
.galeria img:hover {
	transform: scale(3.3);
}
div#logo img{
	width:550px;
	height:250px;
}
div#logo1 img{
	width:480px;
  height:453px;
  margin-top:5px;
}
/*contacto logo*/
div#contactologo img{
  width:170px;
  height:170px;
}
/*redes sociales*/
div#twitter img{
	width:50px;
  height:50px;
  vertical-align: middle;
  text-decoration: none;
}
div#twitter a {
 text-decoration: none;
 vertical-align: none;
 color: white;
}
div#instagram img{
	width:50px;
  height:50px;
  vertical-align: middle;
}

div#instagram a {
  text-decoration: none;
  vertical-align: none;
  color: white;
 }

div#yt img{
	width:50px;
  height:50px;
  vertical-align: middle;
}

div#yt a {
  text-decoration: none;
  vertical-align: none;
  color: white;
 }